@import "tailwindcss";


@theme {
    --bg: #121212;
    --bgButton: #9e57b7;
    --bgCard: #28272c;
    --textColor: #68686a;
    --bgImgProduto: #ededed;
    --bgCardProduto: #f0f0f0;
    --bgHover: #6e11b0;
}